
div#container {
    display: flex;
    flex-direction: column;
    /* font-size: x-large; */
    padding: 2em;
    align-items: normal;
    /* justify-content: center; */
    /* justify-items: center; */
    width: -webkit-fill-available;
}

#container:not(.connected) {
  /* justify-content:center; */
  /* align-items: center; */
  /* flex-grow: 10; */
  /* height: 100vh; */
}

#container.connected {
  display:flex;
}

#container:not(.connected) > *:not(.front), #container.connected > .front {
  display:none;
}

#container.sleeping {
  background-color:gray;
  pointer-events:none;
}

.push[value="0"] {
    background-color: #EEEEEE;
}

.push[value="1"], .pressed[value="1"][data-continuous="1"] {
    background-color: lightblue;
}

.pressed[value="1"][data-continuous="0"] {
    animation-name: MomentaryChange;
    animation-duration:0.6s;
}

div.range{
  display: flex;
  flex-direction: column;
}

#connect, button.push, button.pressed, div.range, label.readonly {
  padding: 1em;
  margin: 1em 0 1em 0;
  border-style: solid;
  border-color: gray;
  border-radius: 0.5em;
  font-weight: bolder;
  font-size: xx-large;
  user-select: none;
  /* flex-grow: 22; */
  /* width: 100%; */
}

@keyframes MomentaryChange {
  0% {background-color: #EEEEEE;}
  50% {background-color: lightblue;}
  100% {background-color: #EEEEEE;}
}


body {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    margin: 0;
}

label#VERSION::before {
    content: "VERSION ";
}

#BATT_LEVEL::before {
  content:"Batterie: ";
}


input#acceptAllDevices {
    align-self: flex-start;
    /* border: solid black thin; */
    /* background-color: blue; */
    /* display: block; */
    scale: 2;
}

input#acceptAllDevices::before {
    content: "Montrer tous les appareils";
    display: block;
    width: max-content;
    margin-left: 1.2em;
    font-size: small;
    /* background-color: red; */
}