280NPLIST;1.0;D;K;26;CPApplicationDelegateClassS;13;AppControllerK;12;CPBundleNameS;18;CPLayoutAnchorTestK;16;CPPrincipalClassS;13;CPApplicationK;29;CPBundleInfoDictionaryVersiond;1;6K;18;CPBundleIdentifierS;34;com.yourcompany.CPLayoutAnchorTestK;15;CPBundleVersionS;3;1.0K;19;CPBundlePackageTypeS;4;APPLK;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;21;CPLayoutAnchorTest.sjK;36;CPBundleEnvironmentsWithImageSpritesA;E;K;17;CPApplicationSizeD;K;10;executabled;7;7747575K;4;datad;6;475948K;5;mhtmld;6;596755E;E;