#float-button-group {
    position: relative;
    left: 10;
    opacity: 0.5;
}

#float-button-group:hover {
    opacity: 1;
}

#map-zoomer {
    position: relative;
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    appearance: slider-vertical;
    width: 8px;
    height: 100px;
    padding: 5px 5px;
    top: 10px;
    display:block;
}

#controls {
    float: right;
    position: absolute;
    right: 10px;
    background-color: white;
    width:22px;
}
