button, input[type="submit"] {
    outline: none;
}

#logos {
    display: block;
    width:100%;
    height:15px;
    margin:0px;
    padding:0px;
}

#event_desc {
    text-align: center;
    padding:0px;
    width: 100%;
    height:15px;
    margin:2px;
    display: block;
    font-size: 13px;
    font-weight:bold;
    background-color: gray;
    color:white;
}

#logos>#logo_carrefour {
    position: absolute;
    margin-left: 40px;
    margin-right: 40px;
    width: 40px;
    z-index: 0;
    opacity: 0.8;
}

#logos>#logo_fmdc {
    position: relative;
    float: right;
}

#container {
    margin: 5px;
    border: solid 0px red;
    overflow: hidden;
}

#canvas {
    opacity: 0;
}

#suivant_wrapper {
    display: inline;
    width: 100%;
    top: 200px;
    background-color: red;
}

#suivant {
    height: 42px;
    margin-top: 20px;
    margin-right: 5px;
    float: right;
    font-size: 24px;
    border: solid 1px white;
    border-radius: 10px;
    font-weight: normal;
    color: white;
    text-transform: capitalize;
    padding-left: 15px;
    padding-right: 15px;
}

#secteur, #emplacements-disponibles {
    font-size: 24px;
}

#infos_exposant {
    position: relative;
    top: 40px;
    padding: 10px;
    width: 100%;
    height: 100%;
}

#paiement {
    position: relative;
    top: 20px;
    padding: 10px;
    width: 100%;
    height: 100%;
}

#paypal_button {
    position: relative;
    left: 45%;
    top: 45%;
}

#tabsbar {
    position: relative;
    margin: auto;
    width: 80%;
    height: 50px;
    border-radius: 8px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding: 0px;
    background-color: none;
    overflow: hidden;
}

#item-choix_emplacements, #item-infos_exposant, #item-paiement {
    border: none;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: inline;
    font-size: 24px;
    font-weight: bold;
}

#item-choix_emplacements, #item-infos_exposant {
    width: 33%;
}

#item-paiement {
    width: 33%;
}

#editmode {
    background-color: gray;
}

#editmode, #update, #download {
    display: none;
}

#mentions {
    background-color: white;
    opacity: 0.9;
    border-top: solid thin black;
    border-bottom: solid thin black;
    position: absolute;
    bottom: 1px;
    width: 100%;
    text-align: center;
}

#tabsbar {
    position: relative;
    margin-top: 10px;
    margin: 10 auto;
    width: 80%;
    height: 50px;
    border-radius: 8px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding: 0px;
    background-color: none;
    overflow: hidden;
}

#description-emplacements {
    width: 500px;
    border: solid 3px rgb(66, 95, 170);
    border-radius: 6px;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

#panier {
    vertical-align: middle;
    position: absolute;
    float: right;
    right: 5px;
}

.disabled {
    background-color: lightgray;
}

.enabled {
    background-color: rgb(66, 95, 170);
}

.paypal-box {
    top: 20px;
    position: relative;
    display: block;
    padding: 20px;
    height: 150px;
}

.header {
    white-space: pre-line;
    margin: 0 auto;
    width: 800px;
    padding: 20px;
    font-size: 20px;
    font-family: menlo;
    text-align: center;
    color: black;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
}

.footer {
    margin: 0 auto;
    margin-top: 20px;
    width: 400px;
    padding: 20px;
    font-size: 16px;
    text-align: center;
    color: black;
}

.acheter {
    margin-top: 20px;
    position: relative;
    margin: 0 auto;
    width: 200px;
    padding-top: 20px;
}

.active {
    margin-top: 20px;
    display: block;
}

.inactive {
    display: none;
}

.selected {
    color: white;
    background-color: rgb(66, 95, 170);
}

.deselected {
    color: black;
    background-color: transparent;
}

.bandeau {
    height: 40px;
    line-height: 40px;
    border-top: solid thin black;
    border-bottom: solid thin black;
    margin: 20px auto;
}

.bandeau_infos, .bandeau_warning, .bandeau_infos_right {
    text-align: left;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    background-color: transparent;
}

.bandeau_infos_right {
     !important background-color: lightblue;
    color: black;
}

.bandeau_warning {
    color: darkred;
}

@media only screen
  and (min-width: 0px)
  and (max-width: 540px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .desktop {
        display:none;
    }

    span.desktop {
        display:none;
    }

    img.desktop {
        display:none;
    }

    #container {
        position:absolute;
        margin: 0px;
        overflow: hidden;
        width:100%;
        height: 100%;
    }

    #canvas {
        position:absolute;
        width:100%;
        height: 100%;
    }
}
